h1 {
    color: red;
    font-size: 25px;
}

h2 {
    color: red;
    font-size: 20px;
}

h3 {
    color: red;
    font-size: 20px;
}

h4 {
    color: red;
    font-size: 20px;
}

h5 {
    color: red;
    font-size: 20px;
}

h6 {
    color: red;
    font-size: 20px;
}

.giua {
    text-align: center;
}